OPENAI_API_KEY= <OPENAI_API_KEY>
SCYLLADB_HOSTS =  <HOST OF SCYLLADB SCYLLADB_HOSTS>
SCYLLA_USERNAME = <SCYLLADB USER NAME>
SCYLLA_PASSWORD = <SCYLLADB OPENSEARCH_PASSWORD>
OPENSEARCH_HOST = <OPENSEARCH_HOST>
OPENSEARCH_USER = <OPENSEARCH_USERID>
OPENSEARCH_PASSWORD = <OPENSEARCH_PASSWORD>
